/* ここにコメントを書く*/

body {
  padding-top: 50px;
  /*background-color: rgba(0,0,0,0.2);*/
  font-family: "Noto Sans JP", sans-serif;
}

body h1{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 45px;
}

.twitterIcon{
  margin-top: 10px;
  margin-left:10px;
  margin-right: 10px;
}

.fbIcon{
  margin-top: 10px;
  margin-left:10px;
  margin-right: 10px;
}

#sakura{
  width:100%;
  height: 2100px;
  position:absolute;
  top:0px;
  left:0px;
  z-index: -1;
}

.about{
  background-color: rgba(255,255,255,0.3);
  margin-top: 40px;
  background: linear-gradient(170deg, rgba(255,148,201,0.2) 0%, rgba(255,255,255,0.2) 50%, rgba(25,159,255,0.2) 100%);
}

.aboutBox{
  position:relative;
}

.aboutImg{
  opacity: 0.3;
  position:absolute;
  top:0%;
  right:10%;
  max-width: auto;
  height: 500px;
}

.aboutMain{
  padding-top: 45px;
  padding-bottom: 60px;
}

.aboutMain h1{
  font-size: 75px;
}

.aboutParagraph{
  padding-top: 10px;
  padding-bottom: 10px;
}

.aboutButton{
  padding-top:20px;
}

.headGreeting{
  background-color: rgba(0,22,95,1.0);
  border-top: 20px;
  padding-bottom: 30px;

}

.headGreetingTitle h1{
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  color: rgba(255,255,255,1.0);
  padding-bottom: 15px;
}

.headGreetingHead{
}

.headGreetingPhoto{
  text-align: center;
}

.headGreetingPhotoText p{
  text-align: center;
  font-weight: normal;
  font-size: 17px;
}

.headGreetingText{
}

.headGreetingText p{
  color: rgba(255,255,255,1.0);
  font-size: 15px;
  font-weight: normal;
}

.eventsMain{
  margin-top: 20px;
  margin-bottom: 30px;
}

.eventsTitle h1{
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0,0,0,1.0);
}

.eventsIndContainer h2{
  font-size: 45px;
}

.eventsIndTitle{
  font-size: 21px;
}
.eventsIndLocation{
  font-size: 15px;
  margin-top: -10px;
}

.accessMain{
  background-color: rgba(0,22,95,1.0);
}

.accessTitle h1{
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  color: rgba(255,255,255,1.0);
  padding-bottom: 10px;
}

.accessMap{
}

.accessAddress{
  margin-top: 10px;
  margin-bottom: 20px;
}
